Source: hildon-meta
Section: user/system
Priority: important
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0

Package: hildon-meta-core
XB-Maemo-Display-Name: Maemo Leste Core Meta Package
XB-Maemo-Flags: reboot, system-update
Architecture: all
Priority: important
Essential: yes
Depends:
 maemo-keyring,
 python-is-python2,
 xserver-xorg,
 leste-config-common,
 hildon-base,
 hildon-connectivity-base,
 hildon-connectivity-wlan,
 hildon-connectivity-mobile,
 maemo-launcher,
 mce,
 dsme,
 upower,
 alarmd,
 ke-recv,
 gtk2-engines-pixbuf,
 hildon-desktop (>= 1:2.2.182),
 hildon-home,
 hildon-thumbnail,
 hildon-control-panel,
 hildon-theme-alpha,
 ui-fonts,
 hildon-control-panel-personalisation,
 hildon-status-menu,
 libdevlock-bin,
 osso-af-startup,
 osso-af-utils,
 osso-systemui,
 osso-xterm,
 osso-systemui-tklock,
 osso-systemui-powerkeymenu,
 osso-systemui-modechange,
 status-area-applet-battery,
 maemo-statusmenu-volume,
 hildon-status-bar-usb,
 desktop-file-utils,
 charge-mode,
 policykit-1-hildon,
Description: Metapackage for installing hildon-desktop core and some of its dependencies.

Package: hildon-meta
XB-Maemo-Display-Name: Maemo Leste Meta Package
XB-Maemo-Flags: reboot, system-update
Architecture: all
Priority: important
Essential: yes
Depends:
 hildon-meta-core,
 hildon-input-meta,
 hildon-connectivity-rtcom,
 hildon-connectivity-location,
 hildon-application-manager,
 hildon-plugins-notify-sv,
 maemo-audio,
 maemo-input-sounds,
 applet-datetime,
 osso-applet-display,
 osso-applet-notificationlight,
 osso-applet-devicelock,
 osso-applet-cplanguageregional,
 osso-calculator,
 osso-systemui-alarm,
 status-menu-applet-profiles,
 statusbar-alarm,
 osso-pdf-viewer,
 qalendar,
 profilesx,
 salutem,
 clockd,
 clock-ui,
 osso-addressbook,
 osso-abook-home-applet,
 modest,
 maemo-user-guide,
 mafw-dbus-daemon,
 mafw-playlist-daemon,
 mafw-gst-renderer,
 mafw-iradio-source,
 mafw-tracker-source,
 x11-xserver-utils,
 gconf2 (= 3.2.6-8+3m7)
Provides:
 hildon-desktop-rotation-support
Conflicts:
 hildon-desktop-rotation-support
Replaces:
 hildon-desktop-rotation-support
Description: Metapackage for installing hildon-desktop and its dependencies.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAA0GVYSWZJSSoA
 CAAAAAoAAAEEAAEAAAAwAAAAAQEEAAEAAAAwAAAAAgEDAAMAAACGAAAAEgED
 AAEAAAABAAAAGgEFAAEAAACMAAAAGwEFAAEAAACUAAAAKAEDAAEAAAADAAAA
 MQECAA0AAACcAAAAMgECABQAAACqAAAAaYcEAAEAAAC+AAAAAAAAAAgACAAI
 APgAAAAHAAAA+AAAAAcAAABHSU1QIDIuMTAuMzgAADIwMjU6MDI6MDEgMTQ6
 MTA6MDQAAQABoAMAAQAAAAEAAAAAAAAAGbbTlgAAAYRpQ0NQSUNDIHByb2Zp
 bGUAAHicfZE9SMNQFIVPU8UiLQ52EHEIWJ3soiKOtQpFqBBqhVYdTF76B00a
 khQXR8G14ODPYtXBxVlXB1dBEPwBcRecFF2kxPuSQosYLzzex3n3HN67DxCa
 VaZZPQlA020zk0qKufyq2PcKAQFEEMKozCxjTpLS8K2ve+qluovzLP++Pyui
 FiwGBETiBDNMm3iDeGbTNjjvE0dZWVaJz4knTLog8SPXFY/fOJdcFnhm1Mxm
 5omjxGKpi5UuZmVTI54mjqmaTvlCzmOV8xZnrVpn7XvyF4YL+soy12mNIIVF
 LEGCCAV1VFCFjTjtOikWMnSe9PEPu36JXAq5KmDkWEANGmTXD/4Hv2drFacm
 vaRwEuh9cZyPMaBvF2g1HOf72HFaJ0DwGbjSO/5aE5j9JL3R0WJHwMA2cHHd
 0ZQ94HIHGHoyZFN2pSAtoVgE3s/om/LA4C3Qv+bNrX2O0wcgS7NK3wAHh8B4
 ibLXfd4d6p7bvz3t+f0AM1tyjf8vOEcAAA14aVRYdFhNTDpjb20uYWRvYmUu
 eG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlI
 enJlU3pOVGN6a2M5ZCI/Pgo8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5z
 Om1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA0LjQuMC1FeGl2MiI+CiA8cmRm
 OlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjIt
 cmRmLXN5bnRheC1ucyMiPgogIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0
 PSIiCiAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAv
 MS4wL21tLyIKICAgIHhtbG5zOnN0RXZ0PSJodHRwOi8vbnMuYWRvYmUuY29t
 L3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VFdmVudCMiCiAgICB4bWxuczpkYz0i
 aHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICB4bWxuczpH
 SU1QPSJodHRwOi8vd3d3LmdpbXAub3JnL3htcC8iCiAgICB4bWxuczp0aWZm
 PSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgIHhtbG5zOnht
 cD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIKICAgeG1wTU06RG9j
 dW1lbnRJRD0iZ2ltcDpkb2NpZDpnaW1wOjY4YTg4OThhLTdiOTAtNGZhMi1h
 YThmLTU3NDNiYmNlOGIwYyIKICAgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlp
 ZDo2Zjg3YTRiOC05YTFlLTQ4ZTQtYTE4Zi03ZDdhMTdjZDBlYmUiCiAgIHht
 cE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoxZmZmYzUzMS1kYmY2
 LTQxZTktYTczOS0yODBhMjVlMjJhOWMiCiAgIGRjOkZvcm1hdD0iaW1hZ2Uv
 cG5nIgogICBHSU1QOkFQST0iMi4wIgogICBHSU1QOlBsYXRmb3JtPSJMaW51
 eCIKICAgR0lNUDpUaW1lU3RhbXA9IjE3Mzg0MTU0MDYzMzI1NjMiCiAgIEdJ
 TVA6VmVyc2lvbj0iMi4xMC4zOCIKICAgdGlmZjpPcmllbnRhdGlvbj0iMSIK
 ICAgeG1wOkNyZWF0b3JUb29sPSJHSU1QIDIuMTAiCiAgIHhtcDpNZXRhZGF0
 YURhdGU9IjIwMjU6MDI6MDFUMTQ6MTA6MDQrMDE6MDAiCiAgIHhtcDpNb2Rp
 ZnlEYXRlPSIyMDI1OjAyOjAxVDE0OjEwOjA0KzAxOjAwIj4KICAgPHhtcE1N
 Okhpc3Rvcnk+CiAgICA8cmRmOlNlcT4KICAgICA8cmRmOmxpCiAgICAgIHN0
 RXZ0OmFjdGlvbj0ic2F2ZWQiCiAgICAgIHN0RXZ0OmNoYW5nZWQ9Ii8iCiAg
 ICAgIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6OGE5MzhkZjMtYTgwOS00
 MmVjLWI2MTktNDA0NWE3YThmNGUwIgogICAgICBzdEV2dDpzb2Z0d2FyZUFn
 ZW50PSJHaW1wIDIuMTAgKExpbnV4KSIKICAgICAgc3RFdnQ6d2hlbj0iMjAy
 NS0wMi0wMVQxNDoxMDowNiswMTowMCIvPgogICAgPC9yZGY6U2VxPgogICA8
 L3htcE1NOkhpc3Rvcnk+CiAgPC9yZGY6RGVzY3JpcHRpb24+CiA8L3JkZjpS
 REY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 IAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
 ICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBh
 Y2tldCBlbmQ9InciPz7NRafqAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMA
 AA3XAAAN1wFCKJt4AAAAB3RJTUUH6QIBDQoGJLcKAwAAA9NJREFUaN7t2W1o
 FVQYwPFfa2YYWPi2PvQGkhL2yV6k1MrMl8homW+ZGZSo1KFUyCIyMFCiD5b2
 FJhBgaKRuWZpLlEirQ+BEkiKEYIaVEvNxBwlq/XBY10uus25u11jDxwYz9l5
 7vPn3OftXLqkS7rkgpaLmttMKfXAlXn9FhF7LiiAIpiBGI3L0Qs/4BvsiIjf
 yx7gDEBDMRJj0BtfYxu+jIjvyh6gCKYvxuLBDHQiw3yGzRFxoKwBzhA3Y/AI
 7kUPfI+1+DQiviprgDPAPIDHMhT8iDV4PyJ2lDVAEczVmJVXn6zejRVYGRG/
 ljVAAcilmITncUNWN+A9LDvXBNDhAEUw0/AiBhaoV2FRROwte4CCG5mbQXpk
 dSPexIKIOF7WAAUgA3JwDy5Q12NWRKwve4CCrLUq15NCeQPzI+KPjk6jIzH/
 dC+FpRFRc3q/sbbqJizENXn/tac3P7S+oqJic67yhbIdYyOioVBZUULnx2Mz
 vsUy7MSalNLs7PzM3H7sx0u5cq9eNnrdVEzBkSKTw1GXb+lfqSzhBSzJQbi4
 AGojtux5Z9Rt7JqMhyur69fm7drG2qqfsCQiVqWUVuRUWwzxLiaX9AZSShW4
 FnWF+ojYet91vzwzoM+u6ViA7o21VU2nFwJ9G2ur+uNs9WBSSmlESQEi4u/8
 Z8/iIN24v98VTU0Vq/EENuDmgjUcd1RW1+9Dt2Y+4rmSx0DOJotTSr0LMsxy
 LHx5e/UxHMfHOFhZXb8Te3I9mJfPj2rG9vCOAJiNv3AgpbQDB3ErHj168uKe
 GI+T2N9YW7UD+3INmJNSGoKJzdhu6LA6kFIam9PkodxO/1m431hbNQLX4xg+
 mbNlYl98kWPobLIuIiaUYyEbjJoWnIdhp+eKijJyfl4uVi05/3rhUFRZBo4P
 ya3CLa349+3FtaGyEx0fhBcwtZVHPse44hjqjIFmVO6P7jmHY0sxNyKaOqUb
 TSn1w+OYgf7ncPQoZhQ2gB0GkFLqldviCfnJ5VzlIzwZET932ECTUroK41Cd
 X/HaYn8vno2IDSUfKVNK3XEn7sL9uPE8zB3GIrwVESdLMtSnlC7D7RiKYbkn
 ueQ8L+4IXsmON7T7s0pKqRueygE4qB2/cYewGCsi4kRbjbSmDtTh7nZ0fDde
 xQdnmnHbFSClNKWdnG/Ch6dGhdjWnomjpRsYcZ72Dzj1dPh2RBwqRbouRSvR
 4NRL9MqI2FrqItkSwFbMbKWtTXkKq21LNmmrtCYLLW8Goi5XzJqIONwZTWGr
 6kBKaTqm+e+3sRps6iynu6RLuuR/JP8Aij9Emv+/11YAAAAASUVORK5CYII=


Package: hildon-meta-n900
Architecture: all
Section: n900
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 maemo-kernel-config-n900,
 leste-config-n900,
 firmware-ti-connectivity,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti343x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 xserver-xorg-input-evdev,
 gps-nokia-n900,
 iio-sensor-proxy,
 libcmtspeechdata,
Description: Metapackage for installing hildon-desktop and its deps. Nokia N900.

Package: hildon-meta-n950
Architecture: all
Section: n950
Depends:
 hildon-meta | hildon-meta-core,
 firmware-ti-connectivity,
 xserver-xorg-video-omap,
 xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N950.

Package: hildon-meta-n9
Architecture: all
Section: n9
Depends:
 hildon-meta | hildon-meta-core,
 firmware-ti-connectivity,
 xserver-xorg-video-omap,
 xserver-xorg-input-evdev,
 fbkeyboard,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N9.

Package: hildon-meta-droid4
Architecture: all
Section: droid4
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-droid4,
 maemo-kernel-config-mapphone,
 droid4-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Droid4.

Package: hildon-meta-droid3
Architecture: all
Section: droid3
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-droid3,
 maemo-kernel-config-mapphone,
 droid3-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Droid4.

Package: hildon-meta-bionic
Architecture: all
Section: bionic
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-bionic,
 maemo-kernel-config-mapphone,
 bionic-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Bionic.

Package: hildon-meta-xt910
Architecture: all
Section: razr
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-xt910,
 maemo-kernel-config-mapphone,
 xt910-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Razr XT910

Package: hildon-meta-xt912
Architecture: all
Section: razr
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-xt912,
 maemo-kernel-config-mapphone,
 xt912-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Razr XT912

Package: hildon-meta-mz617
Architecture: all
Section: xyboard
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-omap,
 leste-config-mapphone,
 leste-config-mz617,
 maemo-kernel-config-mapphone,
 mz617-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Xyboard MZ617


Package: hildon-meta-pinephone
Architecture: all
Section: pinephone
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-pine64,
 leste-config-pinephone,
 pine64-uboot,
 xserver-xorg-input-libinput,
 iio-sensor-proxy,
 fbkeyboard,
 firmware-ov5640,
 linux-firmware-pine64-rtl8723-bt,
Description: Metapackage for installing hildon-desktop and its deps. Pinephone.

Package: hildon-meta-pinetab
Architecture: all
Section: pinephone
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-pine64,
 leste-config-pinetab,
 xserver-xorg-input-evdev,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Pinetab.

Package: hildon-meta-pocophone-f1
Architecture: all
Section: pocophone-f1
Depends:
 hildon-meta | hildon-meta-core,
 linux-image-pine64,
 leste-config-pocophone-f1,
 xserver-xorg-input-evdev,
 fbkeyboard,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Pocophone F1.

Package: hildon-meta-raspberrypi
Architecture: all
Section: raspberrypi
Depends:
 hildon-meta | hildon-meta-core,
Description: Metapackage for installing hildon-desktop and its deps. Raspberry Pi 3.
