Source: hildon-meta
Section: misc
Priority: important
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0

Package: hildon-meta
Architecture: all
Priority: important
Essential: yes
Depends:
 maemo-keyring,
 python-is-python2,
 xserver-xorg,
 leste-config-common,
 hildon-base,
 hildon-connectivity-base,
 hildon-connectivity-wlan,
 hildon-connectivity-mobile,
 hildon-connectivity-rtcom,
 maemo-launcher,
 mce,
 dsme,
 upower,
 alarmd,
 clockd,
 clock-ui,
 ke-recv,
 gtk2-engines-pixbuf,
 hildon-desktop (>= 1:2.2.182),
 hildon-home,
 hildon-thumbnail,
 hildon-control-panel,
 hildon-theme-alpha,
 ui-fonts,
 hildon-control-panel-personalisation,
 hildon-application-manager,
 hildon-status-menu,
 hildon-plugins-notify-sv,
 maemo-input-sounds,
 maemo-audio,
 libdevlock-bin,
 osso-af-startup,
 osso-af-utils,
 applet-datetime,
 osso-applet-display,
 osso-applet-notificationlight,
 osso-applet-devicelock,
 osso-applet-cplanguageregional,
 osso-systemui,
 osso-xterm,
 osso-calculator,
 osso-systemui-tklock,
 osso-systemui-powerkeymenu,
 osso-systemui-alarm,
 osso-systemui-modechange,
 status-menu-applet-profiles,
 status-area-applet-battery,
 maemo-statusmenu-volume,
 hildon-status-bar-usb,
 statusbar-alarm,
 osso-pdf-viewer,
 qalendar,
 desktop-file-utils,
 profilesx,
 salutem,
 charge-mode,
 osso-addressbook,
 modest,
Provides:
 hildon-desktop-rotation-support
Conflicts:
 hildon-desktop-rotation-support
Replaces:
 hildon-desktop-rotation-support
Description: Metapackage for installing hildon-desktop and its dependencies.

Package: hildon-meta-n900
Architecture: all
Section: n900
Depends:
 hildon-meta,
 linux-image-omap,
 maemo-kernel-config-n900,
 leste-config-n900,
 firmware-ti-connectivity,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti343x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 xserver-xorg-input-evdev,
 gps-nokia-n900,
 iio-sensor-proxy,
 libcmtspeechdata,
Description: Metapackage for installing hildon-desktop and its deps. Nokia N900.

Package: hildon-meta-n950
Architecture: all
Section: n950
Depends:
 hildon-meta,
 firmware-ti-connectivity,
 xserver-xorg-video-omap,
 xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N950.

Package: hildon-meta-n9
Architecture: all
Section: n9
Depends:
 hildon-meta,
 firmware-ti-connectivity,
 xserver-xorg-video-omap,
 xserver-xorg-input-evdev,
 fbkeyboard,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N9.

Package: hildon-meta-droid4
Architecture: all
Section: droid4
Depends:
 hildon-meta,
 linux-image-omap,
 leste-config-mapphone,
 maemo-kernel-config-mapphone,
 droid4-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Droid4.

Package: hildon-meta-droid3
Architecture: all
Section: droid3
Depends:
 hildon-meta,
 linux-image-omap,
 leste-config-mapphone,
 maemo-kernel-config-mapphone,
 droid3-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Droid4.

Package: hildon-meta-bionic
Architecture: all
Section: bionic
Depends:
 hildon-meta,
 linux-image-omap,
 leste-config-mapphone,
 maemo-kernel-config-mapphone,
 bionic-kexecboot-config,
 firmware-ti-connectivity,
 firmware-ti-bluetooth,
 xserver-xorg-input-libinput,
 xserver-xorg-video-omap (>= 0.5.0),
 sgx-ddk-um-ti443x,
 sgx-ddk-um-libs,
 sgx-ddk-um-tools,
 libegl-mesa0 (>= 21.2.5),
 libegl1 (>= 1.3.4),
 libgles1 (>= 1.3.4),
 libgles2 (>= 1.3.4),
 iio-sensor-proxy,
 droid4-powermanagement,
 droid4-wlanconfig,
 droid4-battery-calibration,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Motorola Bionic.

Package: hildon-meta-pinephone
Architecture: all
Section: pinephone
Depends:
 hildon-meta,
 linux-image-pine64,
 leste-config-pinephone,
 pine64-uboot,
 xserver-xorg-input-libinput,
 iio-sensor-proxy,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Pinephone.

Package: hildon-meta-pinetab
Architecture: all
Section: pinephone
Depends:
 hildon-meta,
 linux-image-pine64,
 leste-config-pinetab,
 xserver-xorg-input-evdev,
 fbkeyboard,
Description: Metapackage for installing hildon-desktop and its deps. Pinetab.

Package: hildon-meta-pocophone-f1
Architecture: all
Section: pocophone-f1
Depends:
 hildon-meta,
 leste-config-pocophone-f1,
 xserver-xorg-input-evdev,
 fbkeyboard,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Pocophone F1.

Package: hildon-meta-raspberrypi
Architecture: all
Section: raspberrypi
Depends:
 hildon-meta,
Description: Metapackage for installing hildon-desktop and its deps. Raspberry Pi 3.
