Source: hildon-meta
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: hildon-meta
Architecture: all
Depends: xserver-xorg,
         maemo-launcher,
         mce,
         dsme,
         hildon-desktop,
         hildon-home,
         hildon-control-panel,
         hildon-theme-alpha,
         libdevlock-bin,
         osso-af-startup,
         osso-af-utils,
         osso-applet-display,
         osso-applet-notificationlight,
         osso-applet-devicelock,
         osso-systemui,
         osso-xterm,
         osso-systemui-tklock,
         osso-systemui-powerkeymenu,
         osso-systemui-alarm,
         osso-systemui-modechange,
         hildon-status-menu,
         hildon-plugins-notify-sv,
         upower,
         status-menu-applet-profiles,
         gtk2-engines-pixbuf,
         clockd,
         ke-recv,
         hildon-status-bar-usb,
         statusbar-alarm,
Conflicts: elogind
Description: Metapackage for installing hildon-desktop and its dependencies.

Package: hildon-meta-n900
Architecture: all
Section: n900
Depends: hildon-meta,
         firmware-ti-connectivity,
         xserver-xorg-video-pvrsgx,
         xserver-xorg-input-evdev,
         ti-omap3-sgx,
         status-area-applet-battery,
         linux-image-n900,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N900.

Package: hildon-meta-n950
Architecture: all
Section: n950
Depends: hildon-meta,
         firmware-ti-connectivity,
         xserver-xorg-video-omap,
         xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N950.

Package: hildon-meta-n9
Architecture: all
Section: n9
Depends: hildon-meta,
         firmware-ti-connectivity,
         xserver-xorg-video-omap,
         xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Nokia N9.

Package: hildon-meta-droid4
Architecture: all
Section: droid4
Depends: hildon-meta,
         linux-image-droid4,
         firmware-ti-connectivity,
         xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Motorola Droid4.

Package: hildon-meta-pinephone
Architecture: all
Section: pinephone
Depends: hildon-meta,
         xserver-xorg-input-evdev,
Conflicts: xserver-xorg-input-libinput
Description: Metapackage for installing hildon-desktop and its deps. Pinephone.
